.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top:10px 0 !important;
  }
  
  .pageItem {
    margin: 0 0.5rem;
  }
  
  .pageItemActive {
    margin: 0 0.5rem;
    font-weight: bold;
  }
  
  .pageLink {
    color: black;
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .pageLink:hover {
    background-color: black;
    color: white;
  }
  