
.reset-form{
    margin:0 auto;
    max-width:300px;
}

.reset-form input{
    width: 100%;
    border:none;
    outline:none;
    box-shadow: none;
    border:1px solid #333;
    border-radius:0;
    padding:0;
    padding:10px;
    margin-top:10px;
    border-radius:10px;
}

.reset-form  label{
    margin-top:10px;
}

.reset-form  div.button{
    text-align: center;
    width:100%;
    background:none;
    padding:10px;
}
.reset-form  button{
    margin:10px auto;
    margin-right:auto;
}