

.parent{
    position:relative;
    /* width: auto;
    background-image:linear-gradient(115deg, rgb(148 135 129 / 97%), rgba(70, 30, 116, 0.7)),url("../../images/back.jpg"); 
    background-size:cover;
    position:relative;
    z-index: 99; */
}