.footer {
  background-color: burlywood;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer p {
  margin: 5px;
  text-align: center;
}
